{% extends "layout.html" %}
{% block body %}


<body>
    <div class="hiro-loader"></div>
    <header class="hiro-header">
        <nav>
            <div class="container">
                <div class="hiro-nav">
                    <h1> S.I.A </h1>
                    <!-- <a href="index.html" class="nav-brand">
                        <img src="{{url_for ('static', filename='assets/images/logo.svg') }}" alt="Hiro" class="logo">
                        <img src="{{url_for ('static', filename='assets/images/logo_white.svg') }}" alt="Hiro" class="logo-white">
                    </a> -->
                    <button class="hiro-nav-popup-toggle">
                        <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Hiro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="hiro-agency" transform="translate(-964.000000, -37.000000)" fill="#FFFFFF">
                                    <g id="Menu" transform="translate(964.000000, 37.000000)">
                                        <g id="menu">
                                            <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="7.50795322"
                                                width="19.9609942" height="2.4951462"></rect>
                                            <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="14.9964327"
                                                width="19.9609942" height="2.4951462"></rect>
                                            <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14"
                                                y="0.0194736842" width="19.9609942" height="2.4951462"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="hiro-nav-popup-modal">
        <div class="hiro-nav-popup-modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 menu-wrapper">
                        <ul class="nav hiro-main-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="#services" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="#works" class="nav-link">Works</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 blog-posts text-white">
                        <h5 class="popup-blog-headng">Blog</h5>
                        <div class="media mb-4">
                            <img src="{{url_for ('static', filename='assets/images/Blog_small2.jpg') }}" alt="blog"
                                width="86px" class="img-fluid mr-4">
                            <div class="media-body align-self-end">
                                <h5 class="popup-blog-post-title">Ambitious <br> designs</h5>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <img src="{{url_for ('static', filename='assets/images/Blog_small1.jpg') }}" alt="blog"
                                width="86px" class="img-fluid mr-4">
                            <div class="media-body align-self-end">
                                <h5 class="popup-blog-post-title">The Collection <br> Cover Archive</h5>
                            </div>
                        </div>
                        <p><a href="/blog" class="text-white link-hover-fx text-decoration-none"
                                class="font-weight-medium">View more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <main class="blog-page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog-post-archive">
                    
                    <!-- JINJA TEMPLATING -->
                    <!-- {% for post in posts %}     -->

                    <li><a href="/post/{{ post.slug }}">{{ post.title }}</a></li>

                    <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/wEB-DESIGN.jpg') }}" alt="blog post"
                            class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">
                                How to Create a Website in 9 Simple Steps
                                <!-- {{post.title}} -->

                            </h5>
                            <p class="blog-post-excerpt">Step 1: Choose the Perfect Domain
                                Choosing a domain is one of the most important decisions you can make for your site.
                                It's the address for your site and the way people will remember your website.
                                <!-- {{post.content}} -->
                            </p>
                            <a href="/post" class="blog-post-link">Read more</a>
                        </div>
                    </article>
                    
                    <!-- <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/blog_2.jpg') }}" alt="blog post"
                            class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">k</h5>
                            <p class="blog-post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et.</p>
                            <a href="#!" class="blog-post-link">Read more</a>
                        </div>
                    </article> -->

                    <!-- {% endfor %} -->

                   
                    <!-- <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/blog_3.jpg') }}" alt="blog post" class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">Top UI/UX Design Trends for Mobile Apps [2020]</h5>
                            <p class="blog-post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <a href="#!" class="blog-post-link">Read more</a>
                        </div>
                    </article>
                    <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/blog_4.jpg') }}" alt="blog post" class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">Top UI/UX Design Trends for Mobile Apps [2020]</h5>
                            <p class="blog-post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <a href="#!" class="blog-post-link">Read more</a>
                        </div>
                    </article>

                    <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/blog_5.jpg') }}" alt="blog post" class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">Top UI/UX Design Trends for Mobile Apps [2020]</h5>
                            <p class="blog-post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <a href="#!" class="blog-post-link">Read more</a>
                        </div>
                    </article>

                    <article class="media blog-post wow fadeInUp">
                        <img src="{{url_for ('static', filename='assets/images/blog_6.jpg') }}" alt="blog post" class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">Top UI/UX Design Trends for Mobile Apps [2020]</h5>
                            <p class="blog-post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <a href="#!" class="blog-post-link">Read more</a>
                        </div>
                    </article> -->
                </div>

                <!-- IF WANTED THEN USE IT, IN FUTURE -->
                <!--                <div class="col-lg-4 blog-sidebar wow fadeInRight">
                    <div class="widget-twitter">
                        <h5 class=tweet>Role of Proximity in Product Interaction Design (IxD)</h5>
                        <p class="username">hiro@webflow</p>
                    </div>
                    <div class="widget-subscribe">
                        <h6 class="widget-tile">NEWS LETTER</h6>
                        <form action="/index.html" method="post" class="subscribe-form">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your mail">
                            </div>
                            <button class="btn btn-block btn-subscribe rounded-0">Subscriibe</button>
                        </form>
                        <p class="subscribe-text">Get special offers on the latest developments from hiro</p>
                    </div>
                    <div class="widget-posts">
                        <h6 class="widget-title">BUSINESS</h6>
                        <div class="media blog-post">
                            <img src="assets/images/blog_sidebar_1.jpg" alt="blog sidebar" class="post-thumbnail">
                            <div class="media-body align-self-center">
                                <h6 class="post-title">A UX guide to designing better mood boards</h6>
                            </div>
                        </div>
                        <div class="media blog-post">
                            <img src="assets/images/blog_sidebar_2.jpg" alt="blog sidebar" class="post-thumbnail">
                            <div class="media-body align-self-center">
                                <h6 class="post-title">Best Practices for a Smoother Designer</h6>
                            </div>
                        </div>
                        <div class="media blog-post">
                            <img src="assets/images/blog_sidebar_3.jpg" alt="blog sidebar" class="post-thumbnail">
                            <div class="media-body align-self-center">
                                <h6 class="post-title">Common pitfalls during the designer-developer </h6>
                            </div>
                        </div>
                        <div class="media blog-post">
                            <img src="assets/images/blog_sidebar_4.jpg" alt="blog sidebar" class="post-thumbnail">
                            <div class="media-body align-self-center">
                                <h6 class="post-title">Don’t forget to account for all the states of a </h6>
                            </div>
                        </div>
                        <div class="media blog-post">
                            <img src="assets/images/blog_sidebar_5.jpg" alt="blog sidebar" class="post-thumbnail">
                            <div class="media-body align-self-center">
                                <h6 class="post-title">Sit together and use tools to improve </h6>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </main>

    {% endblock %}